<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>떡잎마을샵</title>
  <link rel="stylesheet" href="./orderComplete.css">
  <link rel="stylesheet" href="../../public/components/header/header.css">
  <link rel="stylesheet" href="../../public/components/footer/footer.css">
  <link rel="stylesheet" href="../../public/style/reset.css">
  <link rel="icon" href="../../public/assets/img/icon/favicon.png" />
</head>
<body>
  <div id="header"></div>

  <section class="container">
    <!-- <div id="modal-box"> -->
      <div class="complete">
        <div class="complete-message">
          <h2>주문이 완료되었습니다!</h2>
        </div>
        <a id="orderlist" href="#">주문내역 보기</a>
        <a id="home" href="/">홈으로</a>
      </div>
    <!-- </div> -->
  </section>

  <div id="footer"></div>

  <script src="../../public/components/header/header.js"></script>
  <script src="../../public/components/footer/footer.js"></script>
</body>
</html>