main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #000;
    z-index: 0;
    position: relative;
    padding: 160px 160px 60px;
    display: flex;
    justify-content: center;
}

.mypage-wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 2rem 0;
}

.contents-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.img-wrapper {
    width: 100%;
    text-align: center;
    height: 100%;
}

.img-wrapper > div:first-child {
    width: 100%;
    height: 325.5px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.img-wrapper img {
    height: 70%;
    /* width: 70%; */
    border-radius: 10px;
}

.file-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-wrapper input[type='file'] {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0.9rem;
    width: 70%;
    margin: 0 0.5rem 0 0;
}

.file-wrapper label {
    background-color: #eeeff1;
    border-radius: 10px;
    width: 27%;
    height: 3rem;
    padding: 0.7rem;
}

.file-wrapper input::file-selector-button {
    display: none;
    text-align: right;
}

.middle-wrapper,
.last-wrapper {
    width: 46%;
    padding: 1rem;
}

.middle-wrapper div {
    margin: 1rem 0;
}

.middle-wrapper input,
.last-wrapper input {
    width: 100%;
    height: 3rem;
    padding: 0.9rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.address-wrapper {
    margin: 1rem 0;
}

.address-search {
    width: 100%;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address-search input {
    width: 70%;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.address-search button {
    width: 27%;
    height: 3rem;
    border-radius: 10px;
    background-color: #eeeff1;
    color: #000;
}

.main-address {
    margin: 0.5rem 0;
}

.sub-address input:first-child {
    width: 70%;
    margin: 0.5rem 0.2rem 0.5rem 0;
}

.sub-address input:nth-child(2) {
    width: 27%;
    margin: 0 0 0 0.3rem;
}

.btn-wrapper {
    width: 100%;
    text-align: center;
    padding: 0 1rem 2rem 1rem;
}

.btn-wrapper button {
    width: 45%;
    height: 3rem;
    border-radius: 10px;
    margin: 1rem 0.5rem;
}

.modify-btn {
    background-color: #000;
    color: #fff;
}

.delete-btn {
    background-color: rgb(251, 82, 82);
    color: #fff;
}
