* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000;
    box-sizing: border-box;
}

.user-name > h2 {
    margin-bottom: 10px;
}
.container .user-name {
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    border: 1.5px solid rgb(55, 54, 54, 0.5);
    width: 100%;
    height: 50px;
    margin-right: 35%;
}
.address {
    margin: 0 auto;
}
.address-num > button {
    width: 120px;
    height: 51px;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    margin-bottom: 50px;
    margin-right: 80px;
}
.btn {
    display: flex;
}
.btn button {
    width: 120px;
    height: 51px;
    border-radius: 10px;
    background-color: black;
    color: #fff;
}
.user {
    margin-left: 10px;
}
.container {
    padding: 160px 160px 60px;
    border: solid 1px black;
    margin: 0 auto;
}
