<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>회원 정보 수정</title>

        <!-- css -->
        <link rel="stylesheet" href="../../public/style/reset.css" />
        <link rel="stylesheet" href="../../public/components/header/header.css" />
        <link rel="stylesheet" href="../../public/components/footer/footer.css" />
        <link rel="stylesheet" href="./mypageModify.css" />

        <!-- favicon -->
        <link rel="icon" href="../../public/assets/img/icon/favicon.png" />
    </head>
    <body>
        <!-- header -->
        <div id="header"></div>

        <!-- main -->
        <main>
            <div class="mypage-wrapper">
                <h2>회원 정보 수정</h2>

                <div class="line"></div>

                <!-- contents -->
                <div class="contents"></div>

                <div class="btn-wrapper">
                    <button class="modify-btn">회원 정보 수정</button>
                    <button class="delete-btn">회원 탈퇴</button>
                </div>
            </div>
        </main>

        <!-- footer -->
        <div id="footer"></div>

        <!-- header & footer script -->
        <script src="../../public/components/header/header.js"></script>
        <script src="../../public/components/footer/footer.js"></script>

        <!-- mypageModify script -->
        <script src="./mypageModify.js"></script>

        <!-- address script -->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    </body>
</html>
