@import url(../../public/style/reset.css);
@import url(../../public/style/style.css);

body {
  margin: 0 auto;
}

.container {
  padding: 160px 160px 60px;
  color: black;
}

.back {
  margin-bottom: 30px;
  display: flex;
  gap: 0.7rem;
}

h3 {
  line-height: 35px;
}

#back {
  display: inline-block;
  width: 35px;
  height: 35px;
}

.back-button {
  width: 35px;
}

.back-button:hover {
  opacity: .5;
}

.back-button:active {
  transform: scale(104%);
  transition: .1s;
}

.order {
  display: flex;
  gap: 7rem;
}

form {
  flex-basis: 60%;
}

.customer-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
  flex-shrink: 2;
}

.info {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.info:last-child {
  margin-top: 30px;
  align-items: center;
}

.info:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.customer-input {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 15px 65px;
}

.customer-input div:not(:first-child) {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

input, select {
  height: 55px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 7px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 5px 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.2;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20width=%2715%27%20height=%2715%27%20viewBox=%270%200%2015%2015%27%3E%3Cg%20fill=%27none%27%20fill-rule=%27evenodd%27%20stroke-linecap=%27round%27%3E%3Cg%20stroke=%27%23A2A2A2%27%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20d=%27M9.657%202.657L9.657%2010.657%201.657%2010.657%27%20transform=%27translate%28-1325%20-246%29%20translate%28932%2088%29%20translate%280%20112%29%20translate%280%2030%29%20rotate%2890%20196%20212%29%20rotate%28-45%205.657%206.657%29%27/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 50%;
  cursor: pointer;
}

.hide {
  display: none;
}

input:focus {
  outline: 1px solid dodgerblue;
}

.address {
  display: flex;
  gap: 1.3rem;
}

.address > input {
  flex-grow: 1;
}

.address button {
  width: 200px;
  border-radius: 10px;
  background-color: black;
  color: #fff;
}

.address button:hover {
  opacity: .8;
}

.address button:active, .order-button:active {
  transform: scale(102%);
  transition: .1s;
}

.address:last-child > input:first-child {
  width: 60%;
}

.order-button {
  text-align: center;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  background-color: black;
  color: #fff;
}

.btn {
  text-decoration: none;
}

.order-button:hover {
  background-color: rgb(43, 43, 255);
  color: white;
  transition: .4s;
}

.sticky-div {
  position: sticky;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  flex-basis: 400px;
}

.section-title {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.section-title > p {
  font-size: 12px;
}

.pull-info {
  display: flex;
  align-items: center;
  /* margin: 15px 0 0 5px; */
  justify-content: space-between;
}

.info-check {
  display: flex;
  gap: .7rem;
  margin-bottom: 30px;
  font-size: 14px;
}

#name, #recipientName {
  width: 100%;
  margin-top: 20px;
}

input[type=checkbox] {
  height: auto;
  transform: scale(1.3);
  padding: 10px;
  cursor: pointer;
  outline: none;
}

/* input[type=checkbox]:hover {
  outline: none;
}
input[type=checkbox]:active {
  outline: none;
} */

.required::after, .section-title > p::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: red;
  border-radius: 50%;
  vertical-align: 0.2em;
}

._2 {
  padding-bottom: 5px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.order-card {
  width: 100%;
  height: 245px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
}

.order-check {
  height: 15%;
  background-color: var(--color-main);
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.order-content {
  height: 85%;
}

.order-thumb {
  display: flex;
  height: 74%;
  gap: 2rem;
  padding: 10px;
}

.order-image {
  height: 100%;
}

img {
  height: 100%;
}

.order-item {
  padding: 5px 10px 5px 5px;
  width: 100%;
  font-size: 15px;
}

.order-header {
  display: flex;
  justify-content: space-between;
}

.product-num {
  font-weight: 300;
}

.product-price {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

input[type="button"] {
  width: 20px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-footer {
  padding: 0 10px 12px 10px;
}

.order-summary {
  border-radius: 5px;
  padding: 10px;
  background-color: var(--color-main);
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.order-price {
  font-weight: bolder;
}

.order-receipt {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
  padding: 15px;
}

.receipt {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.receipt:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.total-amount {
  font-weight: bold;
}

.order-list {
  width: 36%;
}

/* .complete {
  width: 380px;
  height: 280px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.complete-message {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px;
}

.complete-message > h2::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 6px;
  margin-right: 0.4em;
  border-left: 4px solid #00A200;
  border-bottom: 4px solid #00A200;
  transform: rotate(-45deg);
  vertical-align: 0.3em;
}

a {
  text-decoration: none;
  color: inherit;
}

#orderlist, #home {
  display: inline-block;
  width: 280px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  font-size: var(--font-size-subtitle);
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
}

#home {
  background-color: #00d1b2;
  color: white;
  margin-bottom: 25px;
}

#orderlist:hover, #home:hover {
  opacity: .6;
}

#orderlist:active, #home:active {
  transform: scale(102%);
  transition: .1s;
}

#modal-box {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: rgba(0, 0, 0, .6);
  display: none;
  justify-content: center;
  align-items: center;
}

#modal-box.active {
  display: flex;
} */

#footer .info {
  border: none;
}