@import url(../../public/style/style.css);

.container {
  padding: 120px 160px 100px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 230px);
}

.complete {
  width: 380px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow:
  0px 0px 1.2px rgba(0, 0, 0, 0.017),
  0px 0px 2.9px rgba(0, 0, 0, 0.024),
  0px 0px 5.4px rgba(0, 0, 0, 0.03),
  0px 0px 9.6px rgba(0, 0, 0, 0.036),
  0px 0px 18px rgba(0, 0, 0, 0.043),
  0px 0px 43px rgba(0, 0, 0, 0.06);
}

.complete-message {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

#orderlist, #home {
  display: inline-block;
  width: 280px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  font-size: var(--font-size-subtitle);
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
}

#home {
  background-color: #00d1b2;
  color: white;
  margin-bottom: 25px;
}

#orderlist:hover, #home:hover {
  opacity: .6;
}