<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../public/style/reset.css" />
  <link rel="stylesheet" href="../../public/components/header/header.css" />
  <link rel="stylesheet" href="../../public/components/footer/footer.css" />
  <link rel="stylesheet" href="./ordInquiry.css">
</head>
<body>
  <div id="header"></div>

  <div class="container">
    <div class="title"><h2>주문 정보 조회</h2></div>
    <main class="main">
      <div class="sub-title">
        <h3 class="_1">나의 주문처리 현황</h3>
      </div>
      <div class="line"></div>
      <section class="state-card">
        <div class="delivery-deleted">
          <h3>주문 취소</h3>
          <span>0</span>
        </div>
        <div class="delivery-prepairing">
          <h3>배송준비중</h3>
          <span>0</span>
        </div>
        <div class="delivery-ongoing">
          <h3>배송중</h3>
          <span>0</span>
        </div>
        <div class="delivery-completed">
          <h3>배송완료</h3>
          <span>0</span>
        </div>
      </section>

      <div class="sub-title">
        <h3 class="_2">나의 주문 내역</h3>
      </div>
      <div class="line"></div>
      <section class="order-list">
        <table class="order-table">
          <thead>
            <tr>
              <th>주문날짜</th>
              <th>주문정보</th>
              <th>상태</th>
              <th>신청</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </section>
    </main>
  </div>

  <div id="footer"></div>

  <script src="../../public/components/header/header.js"></script>
  <script src="../../public/components/footer/footer.js"></script>
  <script src="./ordInquiry.js"></script>
</body>
</html>