main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #000;
    z-index: 0;
    position: relative;
    padding: 160px 160px 60px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

/* title */

.list-title {
    text-align: center;
    margin: 2rem 0 6rem 0;
    cursor: pointer;
}

.list-title strong {
    font-size: 22px;
}

/* drop down */

.drop-down {
    margin: 2rem 1rem 3rem 2.5rem;
}

select {
    width: 140px;
    height: 35px;
    border: 1px solid #ececec;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    line-height: 1.2;
    appearance: none;
    background: #fff;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20width=%2715%27%20height=%2715%27%20viewBox=%270%200%2015%2015%27%3E%3Cg%20fill=%27none%27%20fill-rule=%27evenodd%27%20stroke-linecap=%27round%27%3E%3Cg%20stroke=%27%23A2A2A2%27%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20d=%27M9.657%202.657L9.657%2010.657%201.657%2010.657%27%20transform=%27translate%28-1325%20-246%29%20translate%28932%2088%29%20translate%280%20112%29%20translate%280%2030%29%20rotate%2890%20196%20212%29%20rotate%28-45%205.657%206.657%29%27/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) 50%;
    cursor: pointer;
    padding: 0 40px 0 13px;
}

/* product list */

.products-list {
    width: 100%;
    height: auto;

    justify-content: center;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem 1.5rem;
}

.products {
    flex: 1 1 264px;
}

.img-wrapper {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 3%;
    transition: all 0.5s ease-in-out 0s;
}

.products > div {
    text-align: center;
}

.products-title {
    margin: 1rem 0.2rem 1.5rem 0.2rem;
    font-size: 14px;
    cursor: pointer;
}

.products-price {
    font-size: 14px;
}

/* pagination */

.pagination {
    width: 90%;
    max-width: 1280px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.page-wrapper {
    display: flex;
    gap: 5px;
}

.next-page,
.prev-page,
.page-wrapper > li {
    padding: 4px;
    height: 30px;
    width: 30px;
}

.page-wrapper > li {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

.page-wrapper > li.current {
    font-size: 20px;
}

.next-page > img,
.prev-page > img {
    height: 18px;
    width: 18px;
}
