<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>떡잎마을샵 상품</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../../public/style/reset.css" />
        <link rel="stylesheet" href="../../public/components/header/header.css" />
        <link rel="stylesheet" href="../../public/components/footer/footer.css" />
        <link rel="stylesheet" href="./productList.css" />

        <!-- font-awesome -->
        <script src="https://kit.fontawesome.com/89cb732b4c.js" crossorigin="anonymous"></script>

        <!-- favicon -->
        <link rel="icon" href="../../public/assets/img/icon/favicon.png" />
    </head>
    <body>
        <!-- header -->
        <div id="header"></div>

        <main>
            <!-- list-title -->
            <div class="list-title">
                <strong>인기 | 신상품</strong>
            </div>

            <!-- drop down -->
            <div class="drop-down">
                <select name="" id="">
                    <option value="">가격 낮은순</option>
                    <option value="">가격 높은순</option>
                </select>
            </div>

            <!-- product-list -->
            <div class="products-list">
                <div class="products">
                    <a href=""><img src="../../public/assets/img/goodsImg/짱구.jpeg" alt="goods 1" /></a>
                    <div class="products-title">
                        <a href=""><strong>[짱구] 짱구 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong></a>
                    </div>
                    <div class="products-price">
                        <strong>7,000원</strong>
                    </div>
                </div>
                <div class="products">
                    <a href=""><img src="../../public/assets/img/goodsImg/철수.jpeg" alt="goods 2" /></a>
                    <div class="products-title">
                        <a href=""><strong>[철수] 철수 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong></a>
                    </div>
                    <div class="products-price">
                        <strong>7,000원</strong>
                    </div>
                </div>
                <div class="products">
                    <img src="../../public/assets/img/goodsImg/유리.jpeg" alt="goods 3" />
                    <div class="products-title">
                        <strong>[유리] 유리 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                    </div>
                    <div class="products-price">
                        <strong>7,000원</strong>
                    </div>
                </div>
                <div class="products">
                    <img src="../../public/assets/img/goodsImg/맹구.png" alt="goods 4" />
                    <div class="products-title">
                        <strong>[맹구] 맹구 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                    </div>
                    <div class="products-price">
                        <strong>7,000원</strong>
                    </div>
                </div>
                <div class="products">
                    <img src="../../public/assets/img/goodsImg/짱구.jpeg" alt="goods 1" />
                    <div class="products-title">
                        <strong>[짱구] 짱구 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                    </div>
                    <div class="products-price">
                        <strong>7,000원</strong>
                    </div>
                </div>
                <div class="products">
                    <img src="../../public/assets/img/goodsImg/철수.jpeg" alt="goods 2" />
                    <div class="products-title">
                        <strong>[철수] 철수 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                    </div>
                    <div class="products-price">
                        <strong>7,000원</strong>
                    </div>
                </div>
                <div class="products">
                    <img src="../../public/assets/img/goodsImg/유리.jpeg" alt="goods 3" />
                    <div class="products-title">
                        <strong>[유리] 유리 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                    </div>
                    <div class="products-price">
                        <strong>7,000원</strong>
                    </div>
                </div>
                <div class="products">
                    <img src="../../public/assets/img/goodsImg/맹구.png" alt="goods 4" />
                    <div class="products-title">
                        <strong>[맹구] 맹구 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                    </div>
                    <div class="products-price">
                        <strong>7,000원</strong>
                    </div>
                </div>
                <div class="products">
                    <img src="../../public/assets/img/goodsImg/짱구.jpeg" alt="goods 1" />
                    <div class="products-title">
                        <strong>[짱구] 짱구 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                    </div>
                    <div class="products-price">
                        <strong>7,000원</strong>
                    </div>
                </div>
                <div class="products">
                    <img src="../../public/assets/img/goodsImg/철수.jpeg" alt="goods 2" />
                    <div class="products-title">
                        <strong>[철수] 철수 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                    </div>
                    <div class="products-price">
                        <strong>7,000원</strong>
                    </div>
                </div>
                <div class="products">
                    <img src="../../public/assets/img/goodsImg/유리.jpeg" alt="goods 3" />
                    <div class="products-title">
                        <strong>[유리] 유리 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                    </div>
                    <div class="products-price">
                        <strong>7,000원</strong>
                    </div>
                </div>
                <div class="products">
                    <img src="../../public/assets/img/goodsImg/맹구.png" alt="goods 4" />
                    <div class="products-title">
                        <strong>[맹구] 맹구 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                    </div>
                    <div class="products-price">
                        <strong>7,000원</strong>
                    </div>
                </div>
            </div>

            <!-- pagination -->
            <div class="pagination">
                <div>
                    <img src="./pagination.png" alt="" />
                </div>
            </div>
        </main>

        <div id="footer"></div>
    </body>

    <!-- header / footer -->
    <script src="../../public/components/header/header.js"></script>
    <script src="../../public/components/footer/footer.js"></script>

    <!-- list -->
    <script src="./productList.js"></script>
</html>
