/* slide --------------------- */

swiper-container {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: green; */
    display: flex;
    justify-content: right;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* .slide-contents {
    text-align: left;
    padding-right: 20%;
}

.slide-contents button {
    width: 10rem;
    height: 3rem;
    border-radius: 28px;
    background-color: #000;
}

.slide-contents button:hover {
    background-color: #fff;
    color: #000;
} */

/* new products list ----------------- */

.new-products-list {
    margin: 0 auto;
    width: 70%;
    padding: 90px 0;
    color: #000;
}

.new-products-list > div {
    height: 100%;
    color: rgb(0, 0, 0);
    margin: 4rem 0px;
}

.list-title {
    display: flex;
    justify-content: space-between;
}

.list-title > div > strong {
    font-size: 22px;
}

.more {
    background: none;
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

hr {
    border: 1px solid;
    margin: 1rem 0 3rem 0;
}

a {
    text-decoration: none;
    color: #000;
}

.new-products {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.new-products > div {
    flex: 1 1 264px;
}

.img-wrapper {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 3%;
    transition: all 0.5s ease-in-out 0s;
}

.img-wrapper img:hover {
    transform: translateY(-1rem);
}

.new-products > div > div {
    text-align: center;
}

.products-title {
    font-size: 14px;
    cursor: pointer;
    margin: 0.5rem 0px 1rem;
}

.products-price {
    font-size: 14px;
}

/* popular goods ----------------- */

.popular-list {
    width: 100%;
    background-color: rgb(249, 249, 249);
    color: rgb(0, 0, 0);
    padding: 6rem 0px;
}

.popular-list > div {
    width: 70%;
    margin: 0px auto;
}

.popular-title {
    text-align: center;
    margin: 0px 0px 3rem;
}

.popular-title > strong {
    font-size: 22px;
}

.popular-list > div hr {
    width: 50px;
    border: 1px solid rgb(211, 211, 211);
    margin: 0 auto;
}

.popular-contents {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

.popular-category {
    text-align: center;
    margin: 1rem 0px;
    width: 25%;
    flex: 1 1 264px;
}

.category-img-wrapper {
    margin: 0 auto;
    width: 200px;
    aspect-ratio: 1.6/1;
}

.category-img-wrapper > a > img {
    transition: all 0.5s ease-in-out 0s;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.category-img-wrapper > a > img:hover {
    transform: scale(1.2);
}

a {
    text-decoration: none;
    color: #000;
}
