<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>떡잎마을샵</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../../public/style/reset.css" />
        <link rel="stylesheet" href="../../public/components/header/header.css" />
        <link rel="stylesheet" href="../../public/components/footer/footer.css" />
        <link rel="stylesheet" href="./home.css" />

        <!-- AOS -->
        <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <!-- favicon -->
        <link rel="icon" href="../../public/assets/img/icon/favicon.png" />
    </head>
    <body>
        <!-- header -->
        <div id="header"></div>

        <!-- main -->
        <main>
            <!-- slide -->
            <div class="slide">
                <swiper-container
                    class="mySwiper"
                    pagination="true"
                    pagination-clickable="true"
                    space-between="30"
                    centered-slides="true"
                    autoplay-delay="2000000000"
                    autoplay-disable-on-interaction="false"
                >
                    <swiper-slide role="group" aria-label="1 / 4" class="" style="width: 1512px; margin-right: 30px">
                        <img
                            src="https://m.prugna.co.kr/web/upload/NNEditor/20220801/932bff543ba9fc2bcad307bac9360793.jpg"
                            alt=""
                        />
                    </swiper-slide>
                    <swiper-slide
                        role="group"
                        aria-label="2 / 4"
                        class="swiper-slide-prev"
                        style="width: 1512px; margin-right: 30px"
                    >
                        <img src="https://d.line-scdn.net/stf/linecorp/ko/pr/shinchan_sticker.jpg" alt="" />
                    </swiper-slide>
                    <swiper-slide
                        role="group"
                        aria-label="3 / 4"
                        style="width: 1512px; margin-right: 30px"
                        class="swiper-slide-active"
                    >
                        <img
                            src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fv0YsV%2FbtqDLDlXpL3%2F1wvL2qz9M99BoWwlpZO131%2Fimg.jpg"
                            alt=""
                        />
                    </swiper-slide>
                    <swiper-slide
                        role="group"
                        aria-label="4 / 4"
                        style="width: 1512px; margin-right: 30px"
                        class="swiper-slide-next"
                    >
                        <img
                            src="https://arqachylpmku8348141.cdn.ntruss.com/app/display/20230323120855152_16885_1.jpg"
                            alt=""
                        />
                    </swiper-slide>
                </swiper-container>
            </div>

            <!-- main new product -->
            <div class="new-products-list">
                <div>
                    <div class="list-title">
                        <div>
                            <strong>시선 집중! 새로 출시된 짱구 굿즈</strong>
                        </div>
                        <!-- 인기 | 신상품 페이지로 이동 -->
                        <div class="more">
                            <a
                                href="/products/category?categoryName=인기 | 신상품&page=1&sortOption=createAt"
                                class="more"
                                >더 보기 &gt;</a
                            >
                        </div>
                    </div>

                    <hr />

                    <div class="new-products"></div>
                </div>
            </div>

            <div class="popular-list">
                <div>
                    <div class="popular-title" data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000">
                        <strong>떡잎마을샵 인기 굿즈 아이템</strong>
                    </div>

                    <hr />

                    <!-- 인기 있는 굿즈 -->
                    <div class="popular-contents"></div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <div id="footer"></div>

        <!-- header & footer -->
        <script src="../../public/components/header/header.js"></script>
        <script src="../../public/components/footer/footer.js"></script>

        <!-- home -->
        <script src="./home.js"></script>

        <!-- slide -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
    </body>
</html>
