@import url("../../public/style/reset.css");
@import url("../../public/style/style.css");

#button-back:hover {
  font-size: 20px;
}

#logo {
  width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  padding: 50px;
  width: 100%;
  height: 100%;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 5px solid black;
}

#empty {
  width: 30px;
}

#title {
  font-size: 36px;
}

button {
  background-color: white;
}

#content {
  display: flex;
  width: 100%;
  height: 100%;
}

#content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  margin-right: 10px;
  background-color: #353535;
  color: white;
  border-radius: 10px;
}

.page {
  text-align: center;
  padding: 5px;
  margin: 10px 0px;
}

.special-page {
  background-color: #000000;
}

.page:hover {
  cursor: pointer;
  background-color: #000000;
}

.first-page {
  border-bottom: 2px solid white;
}

a {
  text-decoration: none;
  color: white;
}

#content-detail {
  width: 85%;
  text-align: center;
}

.order-container {
  display: flex;
  border: 2px solid black;
  font-size: 20px;
  margin-bottom: 5px;
  background-color: #e6ffde;
  border-radius: 5px;
  padding: 3px;
}

#order-container-number,
.order-number {
  width: 15%;
}
#order-container-name,
.order-name {
  width: 10%;
}
#order-container-info,
.order-info {
  width: 30%;
}
#order-container-price,
.order-price {
  width: 10%;
}
#order-container-status,
.order-status {
  width: 20%;
}

.order {
  display: flex;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 10px;
  border-bottom: 1px solid black;
}

select {
  text-align: center;
  border-radius: 5px;
}

.fa-trash:hover {
  color: red;
  font-size: 22px;
}

#empty {
  color: white;
}

/* 삭제 버튼 클릭 시 */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  text-align: end;
}

.modal-button {
  color: black;
  border: 1px solid black;
}

.modal-content {
  text-align: center;
  position: relative;
  background-color: white;
  border-radius: 10px;
  top: 0;
  padding: 10px 25px;
  border: 1px solid black;
}

.hidden {
  display: none;
}

#modal-button-delete {
  margin-top: 30px;
  margin-right: 10px;
  background-color: #e6ffde;
  font-weight: bold;
  width: 20%;
  border-radius: 10px;
}
#modal-button-delete:hover {
  color: white;
  background-color: green;
}

#modal-button-cancel {
  margin-top: 30px;
  background-color: rgb(255, 95, 95);
  font-weight: bold;
  width: 20%;
  border-radius: 10px;
}
#modal-button-cancel:hover {
  color: white;
  background-color: red;
}

.fa-x {
  color: white;
  padding: 20px;
}

.fa-x:hover {
  cursor: pointer;
}
