<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Error</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../../style/reset.css" />
        <link rel="stylesheet" href="../../components/header/header.css" />
        <link rel="stylesheet" href="../../components/footer/footer.css" />
        <link rel="stylesheet" href="./error.css" />
    </head>
    <body>
        <!-- header -->
        <div id="header"></div>

        <!-- main -->
        <main>div</main>

        <!-- footer -->
        <div id="footer"></div>

        <!-- js header & footer -->
        <script src="../../components/header/header.js"></script>
        <script src="../../components/footer/footer.js"></script>
    </body>
</html>
