main {
    width: 100%;
    height: calc(100vh - 230px);
    margin: 0 auto;
    color: #000;
    z-index: 0;
    position: relative;
    padding: 160px 160px 60px;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: translate(0%, 70%);
}

.main-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 10px;
    width: 5rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: #fff;
    color: #000;
    letter-spacing: 0.5px;
}
