<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./cart.css">
  <link rel="stylesheet" href="../../public/components/header/header.css">
  <link rel="stylesheet" href="../../public/components/footer/footer.css">
  <link rel="stylesheet" href="../../public/style/reset.css">
</head>
<body>
  <div id="header"></div>

  <main class="container">
    <div class="container-title">
      <h2>장바구니</h2>
    </div>
    <div class="order">
      <section class="order-list">
        <!-- <article class="order-card">
          <div class="order-check">
            <input class="checkbox" type="checkbox" name="product" value="" checked="on">
          </div>
          <aside class="order-content">
            <div class="order-thumb">
              <div class="order-image">
                <a href="#"><img src="./images/case1.png" alt="짱구케이스"></a>
              </div>
              <div class="order-item">
                <div class="order-header">
                  <h5 class="product-num">No. 1095846</h5>
                  <img src="./images/x-button.png" alt="장바구니 취소" class="x-button">
                </div>
                <a href="#"><h4 class="product-title">짱구 맹구 아이폰 케이스</h4></a>
                <h5 class="product-type">아이폰 13 하드케이스(무광)</h5>
                <div class="product-price">
                  <div><h3>18,000원</h3></div>
                  <div class="product-variation">
                    <input type='button' onclick='count("plus")' value='+'/>
                    <div id='result'>0</div>
                    <input type='button' onclick='count("minus")' value='-'/>
                  </div>
                </div>
              </div>
            </div>
            <div class="order-footer">
              <div class="order-summary">
                <div class="order-amount">상품금액 18,000원 / 배송비 3,000원</div>
                <div class="order-price">총 21,000원</div>
              </div>
            </div>
          </aside>
        </article>
        <article class="order-card">
          <div class="order-check">
            <input class="checkbox" type="checkbox" name="product" value="" checked="on">
          </div>
          <aside class="order-content">
            <div class="order-thumb">
              <div class="order-image">
                <a href="#"><img src="./images/case1.png" alt="짱구케이스"></a>
              </div>
              <div class="order-item">
                <div class="order-header">
                  <h5 class="product-num">No. 1095846</h5>
                  <img src="./images/x-button.png" alt="장바구니 취소" class="x-button">
                </div>
                <a href="#"><h4 class="product-title">짱구 맹구 아이폰 케이스</h4></a>
                <h5 class="product-type">아이폰 13 하드케이스(무광)</h5>
                <div class="product-price">
                  <div><h3>18,000원</h3></div>
                  <div class="product-variation">
                    <input type='button' onclick='count("plus")' value='+'/>
                    <div id='result'>0</div>
                    <input type='button' onclick='count("minus")' value='-'/>
                  </div>
                </div>
              </div>
            </div>
            <div class="order-footer">
              <div class="order-summary">
                <div class="order-amount">상품금액 18,000원 / 배송비 3,000원</div>
                <div class="order-price">총 21,000원</div>
              </div>
            </div>
          </aside>
        </article>
        <article class="order-card">
          <div class="order-check">
            <input class="checkbox" type="checkbox" name="product" value="" checked="on">
          </div>
          <aside class="order-content">
            <div class="order-thumb">
              <div class="order-image">
                <a href="#"><img src="./images/case1.png" alt="짱구케이스"></a>
              </div>
              <div class="order-item">
                <div class="order-header">
                  <h5 class="product-num">No. 1095846</h5>
                  <img src="./images/x-button.png" alt="장바구니 취소" class="x-button">
                </div>
                <a href="#"><h4 class="product-title">짱구 맹구 아이폰 케이스</h4></a>
                <h5 class="product-type">아이폰 13 하드케이스(무광)</h5>
                <div class="product-price">
                  <div><h3>18,000원</h3></div>
                  <div class="product-variation">
                    <input type='button' onclick='count("plus")' value='+'/>
                    <div id='result'>0</div>
                    <input type='button' onclick='count("minus")' value='-'/>
                  </div>
                </div>
              </div>
            </div>
            <div class="order-footer">
              <div class="order-summary">
                <div class="order-amount">상품금액 18,000원 / 배송비 3,000원</div>
                <div class="order-price">총 21,000원</div>
              </div>
            </div>
          </aside>
        </article>
        <article class="order-card">
          <div class="order-check">
            <input class="checkbox" type="checkbox" name="product" value="" checked="on">
          </div>
          <aside class="order-content">
            <div class="order-thumb">
              <div class="order-image">
                <a href="#"><img src="./images/case1.png" alt="짱구케이스"></a>
              </div>
              <div class="order-item">
                <div class="order-header">
                  <h5 class="product-num">No. 1095846</h5>
                  <img src="./images/x-button.png" alt="장바구니 취소" class="x-button">
                </div>
                <a href="#"><h4 class="product-title">짱구 맹구 아이폰 케이스</h4></a>
                <h5 class="product-type">아이폰 13 하드케이스(무광)</h5>
                <div class="product-price">
                  <div><h3>18,000원</h3></div>
                  <div class="product-variation">
                    <input type='button' onclick='count("plus")' value='+'/>
                    <div id='result'>0</div>
                    <input type='button' onclick='count("minus")' value='-'/>
                  </div>
                </div>
              </div>
            </div>
            <div class="order-footer">
              <div class="order-summary">
                <div class="order-amount">상품금액 18,000원 / 배송비 3,000원</div>
                <div class="order-price">총 21,000원</div>
              </div>
            </div>
          </aside>
        </article>
        <article class="order-card">
          <div class="order-check">
            <input class="checkbox" type="checkbox" name="product" value="" checked="on">
          </div>
          <aside class="order-content">
            <div class="order-thumb">
              <div class="order-image">
                <a href="#"><img src="./images/case1.png" alt="짱구케이스"></a>
              </div>
              <div class="order-item">
                <div class="order-header">
                  <h5 class="product-num">No. 1095846</h5>
                  <img src="./images/x-button.png" alt="장바구니 취소" class="x-button">
                </div>
                <a href="#"><h4 class="product-title">짱구 맹구 아이폰 케이스</h4></a>
                <h5 class="product-type">아이폰 13 하드케이스(무광)</h5>
                <div class="product-price">
                  <div><h3>18,000원</h3></div>
                  <div class="product-variation">
                    <input type='button' onclick='count("plus")' value='+'/>
                    <div id='result'>0</div>
                    <input type='button' onclick='count("minus")' value='-'/>
                  </div>
                </div>
              </div>
            </div>
            <div class="order-footer">
              <div class="order-summary">
                <div class="order-amount">상품금액 18,000원 / 배송비 3,000원</div>
                <div class="order-price">총 21,000원</div>
              </div>
            </div>
          </aside>
        </article> -->
      </section>
      
      <section class="order-info">
        <h2 id="orderinfo">주문 정보</h2>
        <div class="order-receipt">
          <div class="product-amount receipt">
            <div>총 수량</div>
            <div id="total-amount"></div>
          </div>
          <div class="product-sum receipt">
            <div>총 상품 금액</div>
            <div id="total-price"></div>
          </div>
          <div class="delivery-price receipt">
            <div>총 배송비</div>
            <div id="total-delivery-charge"></div>
          </div>
          <div class="total-amount receipt">
            <div>총 주문금액</div>
            <div id="total-money"></div>
          </div>
        </div>
        <div class="order-button"><a class="btn" href="../order/order.html">주문하기</a></div>
      </section>
    </div>
  </main>

  <div id="footer"></div>
</body>

  <script src="../../public/components/header/header.js"></script>
  <script src="../../public/components/footer/footer.js"></script>
  <script src="./cart.js"></script>

</html>