<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="order.css" />
    <script
      src="https://kit.fontawesome.com/59c9ef03f3.js"
      crossorigin="anonymous"
    ></script>
    <title>Admin Page</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div id="empty"></div>
        <div id="title">관리자 페이지</div>
        <button id="logout">
          <i class="fa-solid fa-right-from-bracket fa-lg"></i>
        </button>
      </div>
      <div id="content">
        <div id="content-title">
          <div class="page first-page">관리 목록</div>
          <div class="page"><a href="../user/user.html">회원 관리</a></div>
          <div class="page">
            <a href="../product/product.html">제품 관리</a>
          </div>
          <div class="page">
            <a href="../category/category.html">카테고리 관리</a>
          </div>
          <div class="page"><a href="../order/order.html">주문 관리</a></div>
        </div>
        <div id="content-detail">주문 관련 정보 나열</div>
      </div>
    </div>
  </body>
</html>
