<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="product.css" />
    <script
      src="https://kit.fontawesome.com/59c9ef03f3.js"
      crossorigin="anonymous"
    ></script>
    <title>Admin Page</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div id="empty"></div>
        <div id="title">관리자 페이지</div>
        <button id="logout">
          <i class="fa-solid fa-right-from-bracket fa-lg"></i>
        </button>
      </div>
      <div id="content">
        <div id="content-title">
          <div class="page first-page">관리 목록</div>
          <div class="page"><a href="../user/user.html">회원 관리</a></div>
          <div class="page">
            <a href="../product/product.html">제품 관리</a>
          </div>
          <div class="page">
            <a href="../category/category.html">카테고리 관리</a>
          </div>
          <div class="page"><a href="../order/order.html">주문 관리</a></div>
        </div>
        <div id="content-detail">
          <button class="button-product-add">
            <i class="fa-solid fa-plus">제품추가</i>
          </button>
          <div class="product-container">
            <div id="product-container-number">회원번호</div>
            <div id="product-container-image">이미지</div>
            <div id="product-container-name">이름</div>
            <div id="product-container-price">가격</div>
            <div id="product-container-date">등록시간</div>
          </div>
          <div class="product">
            <div class="product-number">1</div>
            <div class="product-image">짱구</div>
            <div class="product-name">jjang</div>
            <div class="product-price">1500원</div>
            <div class="product-date">2023.07.04.11:28</div>
            <button class="button-modify">
              <i class="fa-solid fa-pencil"></i>
            </button>
            <button><i class="fa-solid fa-trash"></i></button>
          </div>
          <div class="product">
            <div class="product-number">1</div>
            <div class="product-image">짱구</div>
            <div class="product-name">jjang</div>
            <div class="product-price">1500원</div>
            <div class="product-date">2023.07.04.11:28</div>
            <button class="button-modify">
              <i class="fa-solid fa-pencil"></i>
            </button>
            <button><i class="fa-solid fa-trash"></i></button>
          </div>
          <div class="product">
            <div class="product-number">1</div>
            <div class="product-image">짱구</div>
            <div class="product-name">jjang</div>
            <div class="product-price">1500원</div>
            <div class="product-date">2023.07.04.11:28</div>
            <button class="button-modify">
              <i class="fa-solid fa-pencil"></i>
            </button>
            <button><i class="fa-solid fa-trash"></i></button>
          </div>
          <div class="product">
            <div class="product-number">1</div>
            <div class="product-image">짱구</div>
            <div class="product-name">jjang</div>
            <div class="product-price">1500원</div>
            <div class="product-date">2023.07.04.11:28</div>
            <button class="button-modify">
              <i class="fa-solid fa-pencil"></i>
            </button>
            <button><i class="fa-solid fa-trash"></i></button>
          </div>
          <div class="product">
            <div class="product-number">1</div>
            <div class="product-image">짱구</div>
            <div class="product-name">jjang</div>
            <div class="product-price">1500원</div>
            <div class="product-date">2023.07.04.11:28</div>
            <button class="button-modify">
              <i class="fa-solid fa-pencil"></i>
            </button>
            <button><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
