#footer {
    width: 100%;
    height: 230px;
    color: #000;
    background-color: #f9f9f9;
    text-align: center;
    line-height: 30px;
    padding: 1rem;
}

#footer .footer-box {
    margin: 0 auto;
    width: 100%;
}

.site-logo {
    display: flex;
    width: 150px;
    margin: 0 auto;
}

.site-logo > div {
    margin: 0 auto;
}

.site-logo > div img {
    width: 30px;
    height: 30px;
}

.net {
    display: flex;
    justify-content: space-around;
    width: 450px;
    margin: 0 auto;
}

.net > div {
    display: flex;
    align-items: center;
}

.net > div img {
    width: 20px;
    height: 20px;
}

.footer-logo {
    height: 65px;
}

.footer-logo img {
    width: 170px;
    height: 70px;
}

.copyright > span {
    font-size: 14px;
}
