<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>회원가입</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../../public/style/reset.css" />
        <link rel="stylesheet" href="../../public/components/header/header.css" />
        <link rel="stylesheet" href="../../public/components/footer/footer.css" />
        <link rel="stylesheet" href="./register.css" />

        <!-- favicon -->
        <link rel="icon" href="../../public/assets/img/icon/favicon.png" />
    </head>
    <body>
        <!-- header -->
        <div id="header"></div>

        <!-- register main -->
        <main>
            <div class="container">
                <div>
                    <!-- register-title -->
                    <div class="register-title">
                        <h1>회원가입</h1>
                    </div>

                    <div class="line"></div>

                    <div class="form-wrapper">
                        <div>
                            <div class="span-wrapper">
                                <div>
                                    <span>아이디</span>
                                </div>
                                <input id="id" type="text" placeholder="아이디를 입력해 주세요." />
                            </div>
                            <div class="span-wrapper">
                                <div>
                                    <span>비밀번호</span>
                                </div>
                                <input id="password" type="password" placeholder="비밀번호를 입력해주세요." />
                            </div>
                            <div class="span-wrapper">
                                <div>
                                    <span>비밀번호 확인</span>
                                </div>
                                <input type="password" placeholder="비밀번호를 다시 입력해주세요." id="passwordc" />
                            </div>
                            <div class="span-wrapper">
                                <div>
                                    <span>이름</span>
                                </div>
                                <input type="text" placeholder="이름을 입력해 주세요." name="name" id="name" />
                            </div>
                            <div class="span-wrapper">
                                <div>
                                    <span>주소</span>
                                </div>
                                <section class="address">
                                    <div class="address-num">
                                        <input
                                            name="address"
                                            type="text"
                                            placeholder=" 우편번호"
                                            id="sample6_postcode"
                                        />
                                        <button onclick="execDaumPostcode()">검색</button>
                                    </div>
                                    <div>
                                        <input type="text" placeholder=" 주소" id="sample6_address" />
                                    </div>
                                    <div class="address-detail">
                                        <input
                                            type="text"
                                            placeholder=" 상세 주소를 입력해 주세요."
                                            id="sample6_detailAddress"
                                        />
                                        <input type="text" placeholder=" 참고항목" id="sample6_extraAddress" />
                                    </div>
                                </section>
                            </div>
                            <div class="span-wrapper">
                                <div>
                                    <span>전화번호</span>
                                </div>
                                <input type="text" placeholder="01012341234" name="number" id="number" />
                            </div>
                        </div>
                    </div>

                    <div class="register-btn">
                        <button onclick="formcheck()" id="register">회원가입</button>
                    </div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <div id="footer"></div>

        <!-- header & footer -->
        <script src="../../public/components/header/header.js"></script>
        <script src="../../public/components/footer/footer.js"></script>

        <!-- register -->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script src="register.js"></script>
    </body>
</html>
