<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="admin.css" />
    <title>Admin Page</title>
  </head>
  <body>
    <div class="container">
      <div id="title">관리자 페이지</div>
      <div id="content">
        <div id="content-title">
          <div class="page">관리 목록</div>
          <div class="page"><a href="users.html">회원 관리</a></div>
          <div class="page"><a href="products.html">제품 관리</a></div>
          <div class="page"><a href="categories.html">카테고리 관리</a></div>
          <div class="page"><a href="orders.html">주문 관리</a></div>
        </div>
        <div id="content-detail">관련 정보 나열</div>
      </div>
    </div>
  </body>
</html>
