main {
    width: 100%;
    height: calc(100vh - 230px);
    margin: 0 auto;
    color: #000;
    z-index: 0;
    position: relative;
    padding: 160px 160px 60px;
}

/* 공통 스타일 */
input {
    border: none;
    width: 100%;
    height: 48px;
    border-radius: 6px;
}

.login-wrapper {
    width: 500px;
    height: 400px;
    box-sizing: border-box;
    margin: 0 auto;
}

.login-wrapper > h2 {
    color: #000;
    margin: 0 0 2.5rem 0;
    text-align: center;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 2rem 0;
}

.email-input {
    margin: 0 0 1.5rem 0;
}

.email-input > input,
.pw-input > input {
    padding: 1rem;
    border: 1px solid #d2d2d2;
    margin: 0.5rem 0 0 0;
}

#login-form > input::placeholder {
    color: #d2d2d2;
}

input[type="submit"] {
    color: #fff;
    background-color: black;
    margin-top: 2rem;
}
button {
    width: 100%;
    height: 3rem;
    border-radius: 6px;
    margin: 2.5rem 0 0 0;
    background-color: #000;
    color: #fff;
}
