<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>떡잎마을샵</title>
        <!-- CSS -->
        <link rel="stylesheet" href="../../public/style/reset.css" />
        <link rel="stylesheet" href="../../public/components/header/header.css" />
        <link rel="stylesheet" href="../../public/components/footer/footer.css" />
        <link rel="stylesheet" href="login.css" />

        <!-- favicon -->
        <link rel="icon" href="../../public/assets/img/icon/favicon.png" />
    </head>

    <body>
        <!-- header -->
        <div id="header"></div>

        <main>
            <div class="login-wrapper">
                <h2>로그인</h2>

                <div class="line"></div>
                <div class="email-input">
                    <strong>아이디</strong>
                    <input type="text" name="id" placeholder="ID" id="id" />
                </div>

                <div class="pw-input">
                    <strong>비밀번호</strong>
                    <input type="password" name="password" placeholder="Password" id="password" />
                    <button id="login-btn">로그인</button>
                </div>
            </div>
        </main>
        <!-- footer -->
        <div id="footer"></div>

        <!-- header & footer -->
        <script src="../../public/components/header/header.js"></script>
        <script src="../../public/components/footer/footer.js"></script>

        <!-- script -->
        <script defer src="./login.js"></script>
    </body>
</html>
