/* * {
    padding: 0;
    margin: 0;
    border: none;
}
body {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}
.login-wrapper {
    width: 400px;
    height: 360px;
    padding: 40px;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    box-shadow: 0px 0px 1.9px rgba(0, 0, 0, 0.014),
        0px 0px 4.6px rgba(0, 0, 0, 0.02), 0px 0px 8.6px rgba(0, 0, 0, 0.025),
        0px 0px 15.4px rgba(0, 0, 0, 0.03), 0px 0px 28.8px rgba(0, 0, 0, 0.036),
        0px 0px 69px rgba(0, 0, 0, 0.05);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-wrapper > h2 {
    font-size: 24px;
    color: black;
    margin: 20px;
    text-align: center;
}
#login-form > input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
}
#login-form > input::placeholder {
    color: #d2d2d2;
}
#login-form > input[type="submit"] {
    color: #fff;
    font-size: 16px;
    background-color: #00d1b2;
    margin-top: 20px;
}
#login-form > input[type="checkbox"] {
    display: none;
}
#login-form > label {
    color: #999999;
} */

main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #000;
    z-index: 0;
    position: relative;
    padding: 160px 160px 60px;
}

/* 공통 스타일 */
input {
    border: none;
    width: 100%;
    height: 48px;
    border-radius: 6px;
}

.login-wrapper {
    width: 500px;
    height: 400px;
    box-sizing: border-box;
    margin: 0 auto;
}

.login-wrapper > h2 {
    color: #000;
    margin: 0 0 2.5rem 0;
    text-align: center;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 2rem 0;
}

.email-input {
    margin: 0 0 1.5rem 0;
}

.email-input > input,
.pw-input > input {
    padding: 1rem;
    border: 1px solid #d2d2d2;
    margin: 0.5rem 0 0 0;
}

#login-form > input::placeholder {
    color: #d2d2d2;
}

input[type="submit"] {
    color: #fff;
    background-color: black;
    margin-top: 2rem;
}
