<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="user.css" />
    <script
      src="https://kit.fontawesome.com/59c9ef03f3.js"
      crossorigin="anonymous"
    ></script>
    <title>Admin Page</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div id="empty"></div>
        <div id="title">관리자 페이지</div>
        <button>
          <i class="fa-solid fa-right-from-bracket fa-lg"></i>
        </button>
      </div>
      <div id="content">
        <div id="content-title">
          <div class="page first-page">관리 목록</div>
          <div class="page"><a href="../user/user.html">회원 관리</a></div>
          <div class="page">
            <a href="../product/product.html">제품 관리</a>
          </div>
          <div class="page">
            <a href="../category/category.html">카테고리 관리</a>
          </div>
          <div class="page"><a href="../order/order.html">주문 관리</a></div>
        </div>
        <div id="content-detail">
          <div class="user-container">
            <div id="user-container-number">회원번호</div>
            <div id="user-container-name">회원명</div>
            <div id="user-container-id">아이디</div>
            <div id="user-container-date">가입날짜</div>
          </div>
          <div class="user">
            <div class="user-number">1</div>
            <div class="user-name">짱구</div>
            <div class="user-id">jjang</div>
            <div class="user-date">2023.07.04.11:28</div>
            <button><i class="fa-solid fa-trash"></i></button>
          </div>
          <div class="user">
            <div class="user-number">2</div>
            <div class="user-name">맹구</div>
            <div class="user-id">mang</div>
            <div class="user-date">2023.07.04.13:38</div>
            <button><i class="fa-solid fa-trash"></i></button>
          </div>
          <div class="user">
            <div class="user-number">3</div>
            <div class="user-name">철수</div>
            <div class="user-id">chul</div>
            <div class="user-date">2023.07.04.14:24</div>
            <button><i class="fa-solid fa-trash"></i></button>
          </div>
          <div class="user">
            <div class="user-number">4</div>
            <div class="user-name">흰둥이</div>
            <div class="user-id">hynn</div>
            <div class="user-date">2023.07.04.15:38</div>
            <button><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
