<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../../public/style/reset.css" />
        <link rel="stylesheet" href="../../public/components/header/header.css" />
        <link rel="stylesheet" href="../../public/components/footer/footer.css" />
        <link rel="stylesheet" href="./home.css" />

        <!-- fontawesome -->
        <script src="https://kit.fontawesome.com/89cb732b4c.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- header -->
        <div id="header"></div>

        <!-- main -->
        <main>
            <!-- slide -->
            <div class="slide">
                <swiper-container
                    class="mySwiper"
                    pagination="true"
                    pagination-clickable="true"
                    space-between="30"
                    centered-slides="true"
                    autoplay-delay="4000"
                    autoplay-disable-on-interaction="false"
                >
                    <swiper-slide>
                        <img src="../../public/assets/img/slide-img/짱구 슬라이드용 1.jpeg" alt="" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="../../public/assets/img/slide-img/짱구 슬라이드용 2.jpeg" alt="" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="../../public/assets/img/slide-img/짱구 슬라이드용 4.jpeg" alt="" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="../../public/assets/img/slide-img/짱구 슬라이드용 5.jpeg" alt="" />
                    </swiper-slide>
                </swiper-container>
                yes
            </div>

            <!-- main-new product -->
            <div class="main-body">
                <div class="main-new-goods">
                    <div class="new-goods-title">
                        <div>
                            <strong>시선 집중! 새로 출시된 짱구 굿즈</strong>
                        </div>
                        <div>
                            <button class="more">더 보기 ></button>
                        </div>
                    </div>

                    <hr />

                    <div class="new-goods">
                        <div class="goods">
                            <img src="../../public/assets/img/goods-ex-img/짱구.jpeg" alt="goods 1" />
                            <div class="goods-title">
                                <strong>[짱구] 짱구 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                            </div>
                            <div class="goods-price">
                                <strong>7,000원</strong>
                            </div>
                        </div>
                        <div class="goods">
                            <img src="../../public/assets/img/goods-ex-img/철수.jpeg" alt="goods 2" />
                            <div class="goods-title">
                                <strong>[철수] 철수 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                            </div>
                            <div class="goods-price">
                                <strong>7,000원</strong>
                            </div>
                        </div>
                        <div class="goods">
                            <img src="../../public/assets/img/goods-ex-img/유리.jpeg" alt="goods 3" />
                            <div class="goods-title">
                                <strong>[유리] 유리 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                            </div>
                            <div class="goods-price">
                                <strong>7,000원</strong>
                            </div>
                        </div>
                        <div class="goods">
                            <img src="../../public/assets/img/goods-ex-img/맹구.png" alt="goods 4" />
                            <div class="goods-title">
                                <strong>[맹구] 맹구 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                            </div>
                            <div class="goods-price">
                                <strong>7,000원</strong>
                            </div>
                        </div>
                        <div class="goods">
                            <img src="../../public/assets/img/goods-ex-img/짱구.jpeg" alt="goods 1" />
                            <div class="goods-title">
                                <strong>[짱구] 짱구 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                            </div>
                            <div class="goods-price">
                                <strong>7,000원</strong>
                            </div>
                        </div>
                        <div class="goods">
                            <img src="../../public/assets/img/goods-ex-img/철수.jpeg" alt="goods 2" />
                            <div class="goods-title">
                                <strong>[철수] 철수 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                            </div>
                            <div class="goods-price">
                                <strong>7,000원</strong>
                            </div>
                        </div>
                        <div class="goods">
                            <img src="../../public/assets/img/goods-ex-img/유리.jpeg" alt="goods 3" />
                            <div class="goods-title">
                                <strong>[유리] 유리 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                            </div>
                            <div class="goods-price">
                                <strong>7,000원</strong>
                            </div>
                        </div>
                        <div class="goods">
                            <img src="../../public/assets/img/goods-ex-img/맹구.png" alt="goods 4" />
                            <div class="goods-title">
                                <strong>[맹구] 맹구 떡잎 방범대 아크릴 집게 1종 / 일러스트 굿즈</strong>
                            </div>
                            <div class="goods-price">
                                <strong>7,000원</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="popular-goods"></div>
            </div>
        </main>

        <!-- footer -->
        <div id="footer"></div>
    </body>
    <script src="../../public/components/header/header.js"></script>
    <script src="../../public/components/footer/footer.js"></script>

    <!-- slide script -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
</html>
