<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>떡잎마을샵</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../../public/style/reset.css" />
        <link rel="stylesheet" href="../../public/components/header/header.css" />
        <link rel="stylesheet" href="../../public/components/footer/footer.css" />
        <link rel="stylesheet" href="./productDetail.css" />

        <!-- favicon -->
        <link rel="icon" href="../../public/assets/img/icon/favicon.png" />
    </head>
    <body>
        <!-- header -->
        <div id="header"></div>

        <main>
            <div>
                <div class="product-main">
                    <!-- 로드되자마자 보이는 이미지 -->
                    <div class="product-img"></div>

                    <!-- product contents 정보 변하지 않음-->
                    <div class="product-contents">
                        <div class="contents-header">
                            <div>상품 정보 및 구매 안내</div>
                        </div>
                    </div>
                    <div class="contents-main">
                        <h3>상품 기본 정보</h3>

                        <!-- 본문 상품 정보 이미지 -->
                        <div class="contents-img"></div>

                        <div class="contents-ex"></div>

                        <div class="line"></div>

                        <h3>배송 안내</h3>
                        <div class="delivery">
                            <div>
                                모든 상품은 고객님의 주문에 맞춰 새 상품으로 제작하여 배송됩니다. <br />
                                지금 주문하시면 <strong>7월 10일</strong>부터 제작 프로세스가 시작되어
                                <strong>7월 15일</strong> 이전에 출고될 예정입니다.
                            </div>
                            <div>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>배송 방법</th>
                                            <td>일반 택배(백마 택배)</td>
                                        </tr>
                                        <tr>
                                            <th>배송 지역</th>
                                            <td>전국</td>
                                        </tr>
                                        <tr>
                                            <th>배송비</th>
                                            <td>3,000원</td>
                                        </tr>
                                        <tr>
                                            <th>배송 기간</th>
                                            <td>
                                                상품 출고 후 영업일 기준 한 달 이내 수령이 가능하며 도서 산간 지역이거나
                                                택배사의 물량이 많은 경우 기간이 조금 더 소요될 수 있습니다.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="line"></div>

                    <div class="order-info">
                        <div>
                            <h3>교환 및 환불 안내</h3>
                            <div>
                                모든 상품은 주문 제작 방식으로 제작되어 단순 변심으로 인한 교환/환불이 불가합니다.
                                <br />
                                단, 수령하신 상품이 불량이거나 오배송된 경우에는 7일 이내 고객센터 또는 이메일, 1:1
                                문의하기로 연락주시면 교환 및 반품 환불이 가능합니다.
                            </div>
                        </div>
                        <div>
                            <table>
                                <tbody>
                                    <tr>
                                        <th>고객센터</th>
                                        <td>1994-0505</td>
                                    </tr>
                                    <tr>
                                        <th>이메일</th>
                                        <td>cs@tteogipmaeulshop.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="product-form">
                    <div class="product-field">
                        <div>
                            <!-- 제품 제목 및 가격 -->
                            <div class="product-info"></div>

                            <div class="product-description"></div>

                            <div class="product-counter">
                                <div>수량</div>
                                <div class="counter-btn">
                                    <button class="minus-btn" name="plus">
                                        <img src="../../public/assets/img/icon/minus.svg" alt="minus" />
                                    </button>
                                    <input type="text" name="quantity" value="1" readonly />
                                    <button class="plus-btn" name="minus">
                                        <img src="../../public/assets/img/icon/plus.svg" alt="plus" />
                                    </button>
                                </div>
                            </div>

                            <div class="line"></div>

                            <div class="product-btn">
                                <div>
                                    <button type="submit" class="cart-btn">장바구니 담기</button>
                                    <button type="submit" class="order-btn">바로 구매하기</button>
                                </div>
                            </div>
                            <div class="delivery-start">
                                <div>
                                    <img src="../../public/assets/img/icon/delivery.svg" alt="" />
                                    <div class="delivery-date">배송 기간</div>
                                </div>
                                <div>
                                    ⇢&nbsp; 지금 주문하면 &nbsp;<strong>7/15 ~ 7/19</strong> &nbsp;사이에 출발해요!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <div id="footer"></div>

        <!-- js header & footer -->
        <script src="../../public/components/header/header.js"></script>
        <script src="../../public/components/footer/footer.js"></script>

        <!-- js productDetail -->
        <script src="./productDetail.js"></script>
    </body>
</html>
