main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #000;
    z-index: 0;
    position: relative;
    padding: 160px 160px 60px;
}

main > div {
    width: 100%;
    display: flex;
}

.product-main {
    width: 58%;
    margin: 0 0 3rem 0;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #f8f8f8;
    margin: 2rem 0;
}

h3 {
    margin: 1rem 0;
}

/* product-main img */

.product-img,
.contents-img {
    display: flex;
    width: 640px;
    height: 640px;
    margin: 0 auto;
}

.product-img > div,
.contents-img > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
}

.product-img img,
.contents-img img {
    width: 80%;
    height: 80%;
}

/* product-contents */

.product-contents {
    margin: 2rem 0;
}

.contents-header div {
    border-bottom: 2px solid #000;
    font-weight: 600;
    font-size: 22px;
    padding: 12px 0;
}

.contents-ex {
    font-size: 15px;
    margin: 2rem 0;
}

.delivery div:first-child,
.order-info div:first-child {
    font-size: 15px;
    margin: 2rem 0;
}

.delivery table,
.order-info table {
    font-size: 15px;
}

.delivery th,
.order-info th {
    color: rgba(0, 0, 0, 0.5);
    width: 6rem;
    text-align: left;
    line-height: 2rem;
}

/* product-form */

.product-form {
    width: 42%;
    height: 450px;
    position: sticky;
    top: 160px;
}

.product-field {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.product-field > div {
    width: 80%;
    height: 100%;
}

.product-info h2 {
    margin: 0 0 1rem 0;
}

.product-info > div p {
    font-size: 20px;
}

.product-device {
    margin: 1.5rem 0;
}

.product-device p {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
}

select {
    width: 100%;
    height: 3rem;
    padding: 14px 20px;
    border-radius: 4px;
    border: solid 1px #a2a2a2;
    font-size: 16px;
    line-height: 1.2;
    appearance: none;
    background: #fff;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20width=%2715%27%20height=%2715%27%20viewBox=%270%200%2015%2015%27%3E%3Cg%20fill=%27none%27%20fill-rule=%27evenodd%27%20stroke-linecap=%27round%27%3E%3Cg%20stroke=%27%23A2A2A2%27%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20d=%27M9.657%202.657L9.657%2010.657%201.657%2010.657%27%20transform=%27translate%28-1325%20-246%29%20translate%28932%2088%29%20translate%280%20112%29%20translate%280%2030%29%20rotate%2890%20196%20212%29%20rotate%28-45%205.657%206.657%29%27/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) 50%;
    cursor: pointer;
}

.product-counter {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.product-counter div:first-child {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
}

.counter-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.minus-btn,
.plus-btn {
    border: none;
    outline: none;
    background: #f8f8f8;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

input[name='quantity'] {
    display: block;
    vertical-align: middle;
    min-width: 54px;
    max-width: 100px;
    height: 26px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.product-btn {
    margin: 1rem 0;
    width: 100%;
}

.product-btn > div {
    display: flex;
}

.product-btn button {
    width: 100%;
    margin: 0 4px;
    padding: 16px 0 14px;
    font-weight: 600;
    outline: none;
    font-size: 16px;
    letter-spacing: -0.2px;
    border-radius: 8px;
}

.cart-btn {
    color: #111;
    background: #fff;
    border: solid 1px #ddd;
}

.order-btn {
    color: #fff;
    background-color: #111;
    border: solid 1px #111;
}

.cart-btn:hover {
    color: rgba(0, 0, 0, 0.5);
}

.order-btn:hover {
    color: rgba(255, 255, 255, 0.8);
}

.delivery-start {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.delivery-start div:first-child {
    transform: translateY(3px);
    height: 20px;
    display: flex;
    align-items: center;
    width: 25%;
}

.delivery-start div:nth-child(2) {
    text-align: left;
    width: 75%;
}

.delivery-date {
    margin: 0 0.5rem;
}

strong {
    color: green;
}
