<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이이지</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../public/style/reset.css" />
        <link rel="stylesheet" href="../../public/components/header/header.css" />
        <link rel="stylesheet" href="../../public/components/footer/footer.css" />
<link rel="stylesheet" href="mypage.css">


</head>
<body>
    <!-- header -->
    <div id="header"></div>

    <div class="container">
        <div class="name">
    <h1>마이페이지</h1>
        </div>
   
    
            <div class="user">
                <div class="card">
                    <div class="user-profile">
                    <div class="user-image">
                        <img id="user-image" src="./case1.png" alt="프로필사진">
                    </div>
                    <div class="user-info">
                        <h4>신짱구</h4>
                        <h6>jjanggu@email.com</h6>
                        <h6>010-1234-5678</h6>
                    </div>
                    </div>
                    <div class="user-grade"><h4>일반회원</h4></div>
                </div>
            </div>
            <!-- 배송 처리 -->
            <div class="state">
            <ul>
                
                <li>
                    <strong>배송준비중</strong>
                    
                    <span>    <a href="">0</a>
                    </span>
                </li>
                <li>
                    <span><strong>배송중</strong>
                    
                        <a href="">0</a>
                    </span>
                </li>
                <li>
                    <span><strong>배송완료</strong>
                     <a href="">0</a>
                    </span>
                    
                </li>
            </ul>
        </div>
        <!-- 주문 처리 -->
        <div class="my-page">
            <h2>나의 주문처리 현황</h2>
        </div>
        <div class="modify">
            <div class="">

            </div>
            <div class="frist-img-box">
<img class="frist-product-img" src="case4.png" alt="상품사진"></span>
<span>
<p>짱구케이스 입니다</p></span>
<span><p>상품 준비중</p></span>
<span>
<button class="order-cancel">주문 취소</button></span>
</div>


    <div class="second-img-box">
<img class="second-product-img" src="case3.png" alt="상품사진">
    <span><p>짱구케이스입니다</p></span>
    <span><p>상품 준비중</p></span>
    <span><button>주문 취소</button></span>
</div>
</div>



        </div>

         
      
    </div>
    
    <!-- footer -->
    <div id="footer"></div>
</div>    
</body>

    <!-- header & footer -->
    <script src="../../public/components/header/header.js"></script>
    <script src="../../public/components/footer/footer.js"></script>



</html>
