@import url(../../public/style/reset.css);
@import url(../../public/style/style.css);

body {
  margin: 0 auto;
}

.container {
  padding: 160px 160px 60px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.main {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.user-card {
  margin: 0 auto;
  border: 1.5px solid rgba(0, 0, 0, .2);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 80%;
}

.user-profile {
  display: flex;
  gap: 2rem;
  width: 70%;
  align-items: center;
  padding: 1rem 0 1rem 3rem;
}

.user-image {
  padding: 0 0 0 3rem;
  height: 80%;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-image {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 50%;
}

.user-info {
  height: 60%;
  width: 60%;
  border-right: 3px solid rgb(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 2rem;
}

.user-grade {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem 0 0;
}

.options {
  display: flex;
  gap: 1.2rem;
  width: 80%;
  margin-bottom: 30px;
}

a {
  width: 33%;
  text-decoration: none;
}

.check-card {
  padding: 35px;
  background-color: #f3f3f3;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 12px;
  color: black;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: all 350ms;
  height: 286px;
}

.check-icon {
  width: 100px;
  height: 80px;
  opacity: .2;
}

.check-title {
  font-size: var(--font-size-larger);
  font-weight: bold;
}

h2:not(:first-child) {
  margin-top: 0.6em;
}

.check-title._1 {
  color: #FFB974;
}

.check-title._2 {
  color: #6bb0f3;
}

.check-title._3 {
  color: #FFBDCE;
}

.check-text {
  margin-top: 0.8em;
  font-size: 14px;
}

.options:hover .check-card:not(:hover) {
  transform: scale(0.9);
}

.options:hover .check-card:not(:hover)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.check-card:hover {
  transform: scale(1.06);
  background-color: rgba(236, 236, 236, 0.933);
}

.check-card:hover .check-icon {
  opacity: 1;
}